*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    
}


:root{
   
    --verde: rgb(70,125,77);
    --aqua:rgb(40, 176, 185);
    --gris:rgb(215, 215, 215);
    --azulado:rgb(9, 93, 119);
    --azul:rgb(122, 178, 204);

}


body{
    
    background-color: var(--aqua);
}

/* header */

    nav{
    width: 100%;
    height: 5rem;
    background-color:var(--gris) ;
    display: flex;
    justify-content:space-between;
    align-items:center;
    padding: 2%;
}


.logo img{
    max-width: 100px;
    max-height: 4rem;


}
.lista ul{
    display: flex;
   justify-content: space-around;
   gap: 50px;


}

.lista__items a{
    color: var(--aqua);
    font-size: 20px;
}

.carrito img{
    height: 30px;
    width: 30px;
}

.ingresar__container{
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.ingresar__container a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    color: var(--aqua);
    font-size: 20px;
    border: solid 2px var(--azulado);
    border-radius: 10px;
    
}

.menu{
    display: none;
}









    /* portada */



    
    
    
    
    
    


    .container{
        width: 100%;
        height: 800px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        padding: 100px;
        background: linear-gradient(0deg, rgb(40, 176, 185) 50%, rgba(213,217,217,1) 92%);
        
    }


    .container__titulo{
        
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 50px;
        align-items: center;
        text-align: center;

    }

    h1{
        font-size: 50px;
    }

    p{
        font-size: 20px;
    }

    .container__titulo a{
        text-decoration: none;
        color: var(--azulado);
        font-size: 25px;
        

    }

    .container__titulo a:hover{
        color: var(--gris) ;
    }

    .portada img{
        width: 400px;
        height: 400px;
    }


    /* productos */



     h2{
        display: flex;
        justify-content: center;
        font-size: 30px;
        color: white;
        margin: 30px;
        padding-top: 100px;
     }

    .container__productos{
        width: 100%;
        height: 800;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 300px;
        padding: 5% 15%;
        gap: 10px;
        
    
    }


    .productos__mujer{
        background-image: url(./imagenes/zapatosmujer.jpg);
        background-repeat: no-repeat;
        background-position:initial;
        background-size: cover;
        width: 100%;
        height:100%;
        grid-column-start:1 ;
        grid-column-end:2 ;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .productos__ni単os{
        background-image: url(./imagenes/zapatosni単os.png);
        background-repeat: no-repeat;
        background-position:center;
        background-size: cover;
        width: 100%;
        height:100%;
        grid-column-start: 2 ;
        grid-column-end:3 ;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .productos__hombres{
        background-image: url(./imagenes/zapatoshombres.png);
        background-repeat: no-repeat;
        background-position:center;
        background-size: cover;
        width: 100%;
        height:100%;
        grid-column-start: 3 ;
        grid-column-end:4 ;
        display: flex;
        justify-content: center;
        align-items: center;


    }


    .productos__promociones{
        grid-column-start: 1 ;
        grid-column-end:4 ;

    }


   .productos__mujer img{
    width: 100%;
    height: 300px;
   }

   .productos__hombres img{
    width: 100%;
    height: 300px;
   }

   .productos__ni単os img{
    width: 100%;
    height: 300px;
   }


   .productos__promociones{
    width: 100%;
    height: 300px;
    background-color: var(--azulado);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   }

   .productos__promociones img{
    width: 100px;
    height: 100px;
}

 h3{
    font-size: 50px;
    color: var(--aqua);
}


.product__container{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;

}

.productos{
    width: 250px;
    height: 280px;
    background-color: var(--azulado);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: solid 5px var(--azul);
    gap: 5px;
}

.productos img{
    width: 150px;
    height: 150px;

}

.productos h3{
    font-size: 20px;
}
.productos p{
    font-size:20px;
    color: aliceblue;
}
.productos button{
    padding: 3px;
    font-size: 20px;
    border-radius: 5px;
    border: solid 2px var(--azul);
    background-color: var(--gris);
}

/* sobre nosotros */

#sobrenosotros{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 10%;
    gap: 100px;
    
    
}

#sobrenosotros p {
    
    font-size: 30px;
    color: var(--azulado);
}


/* contacto */
    
    .contacto{
        padding: 2%;
        width: 100%;
        height: 600px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 200px;
    }

    .form{
        display: flex;

        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .form input{
        width: 180px;
        height: 40px;
        border-radius: 10px;
        border: solid 2px var(--gris);

    }
    textarea{
        width: 180px;
        height: 100px;
        border-radius: 10px;
        border: solid 2px var(--gris);
    }
    .redes{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 50px;
    

    }


    .redes__info{
        width: 300px;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        background-color: var(--gris);
        border-radius: 5px;
    }


    .redes__info-titulo{
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 20px;
    }

    .redes__info-titulo img{
        width: 30px;
        height: 30px;
    }

    .iconos{
        display: flex;
        justify-content: space-around;
        gap: 50px;
    }
    .iconos img{
        
        width: 40px;
        height: 40px;
        
    }

    h4{
        font-size: 20px;
        color: var(--azulado);
        text-align: center;
    }


    .button{
        width: 80px;
        height: 40px;
        background-color: var(--azul);
        font-size: 15px;
        border-radius: 10px;
        border: 3px solid var(--azulado);
        
    }
    .button p{
        color: var(--gris);
    }

   .button:hover{
    width: 90px;
    height: 50px;
    background-color: var(--azulado);
    font-size: 20px;
    border: 3px solid var(--azul);
    transition: 0.5s;
   }
   
   

   /* section footer */

.footer{
    width: 100%;
    height: 100px;
    padding: 0 10%;
    background: linear-gradient(0deg, rgb(40, 176, 185) 50%, rgba(213,217,217,1) 92%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    
    
}

.footer_link{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--azuloscuro);
}
   .footer p{
    color: aliceblue;
    text-align: center;
    font-size: 20px;
   }
   
   .footer_link p{
    color: aliceblue;
   }
   

   /* registro */

   .registro{
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    padding-top: 200px;
    background-color: var(--azuloscuro);
    padding: 5%;
    border-radius: 10px;
   


}

.registro h2{
    width: 100%;
    height: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center ;
    padding: 10px;
    color: var(--celeste);
}


  
.formulario{
    border: solid 2px;
    border-radius: 15px;
    padding: 5px;
    color: var(--celeste);
}


.registro__form{
    padding: 10px;
}

.registro__form-boton{
    padding: 15px;
    display: flex;
    justify-content: center;
   }


.registro__form-boton button{
    background-color: var(--celeste);
    width: 150px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    border-color: var(--azulado);
    color: var(--azulado);

}


.registro__form-boton button:hover{
    
    color: var(--celeste);
    border-color:var(--celeste);
    background-color: var(--azulado);

}

.registro__form input{
    
    width: 150px;
    height: 40px;
    border-radius: 10px;
    border: solid 2px var(--gris);


}

.ingreso__form-boton {
    background-color: var(--celeste);
    width: 150px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    border-color: var(--azulado);
    color: var(--azulado);

}


.ingreso__form-boton:hover{
    
    color: var(--celeste);
    border-color:var(--celeste);
    background-color: var(--azulado);

}



/* mediaquerys */


@media (max-width: 992px) {

    .menu {display: flex;

    }
    .menu-open{
        display: flex;
    }
   
   
   
.lista{
    display: none;
}
#menu__toggle{
    display: none;
}
.imgmenu{
    width: 30px;
    height: 30px;

}

.menu__lista{
    height: auto;
    display: none;
    z-index: 2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    position:absolute;
    align-content: center;
    
}


}

@media (max-width: 768px) {
    .container__productos{
        display: flex;
        flex-direction: column;


    }

    .contacto{
        gap: 50px;
    }

    .container__productos{
        height: 1000px;
    }
    .productos__mujer {
        width: 100%;
        height: 200px;
       }
       .productos__hombres{
        width: 100%;
        height: 200px;
       }
       .productos__ni単os{
        width: 100%;
        height: 200px;
       }
       .productos__promociones{
        width: 100%;
        height: 200px;
        
       }
}

@media (max-width: 576px) {
    .ingresar__container{
        display: flex;
        flex-direction: column;
       width: 100px;
       height: 50px;
    }
    .ingresar__container a{
        width: 80px;
        height: 30px;
        font-size: 15px;
    }
    .contacto{
        height: 1000px;
    }


    .portada img{
        width: 200px;
        height: 200px;
    }

    h2{
        padding-top: 10px;
    }
       h3{
        font-size: 30px;
       }

       #sobrenosotros p{
        font-size: 20px;
       }

  
       .redes__info{
        width: 100%;
        height: 150px;
       }


  
}